body {
    margin: 0px;
    background: #fafafa;
    zoom: 0;
    -moz-transform: scale(0.9);
    -moz-transform-origin: 0 0;
}

body {
    height: 100%;
    overflow: auto
}

    body::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0rem;
        height: 0rem
    }

    body::-webkit-scrollbar-thumb {
    }

* {
    font-family: 'Titillium Web', sans-serif;
}

.swagger-ui .topbar .download-url-wrapper .select-label select {
    border-color: #42b5e1;
}

.swagger-ui .info .title small:last-child {
    background-color: #42b5e1 !important;
}

.swagger-ui .info {
    margin-top: 50px;
    margin-bottom: 0px;
}

.swagger-ui .wrapper {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}


.swagger-ui .opblock {
    margin: 0 0 15px;
    border: 1px solid #000;
    border-radius: 0px;
    box-shadow: none
}

.swagger-ui .opblock-tag {
    border-bottom:none;
}